package personal.jp.vocabapp

object Secrets {
    const val BACKEND_URL = "REPLACE_ME"
    const val WEB_CLIENT_ID = "REPLACE_ME"
    const val WEB_CLIENT_SECRET = "REPLACE_ME"
    const val DESKTOP_CLIENT_ID = "REPLACE_ME"
    const val ANDROID_CLIENT_ID = "REPLACE_ME"
}